@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  height:100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0 2rem;
  grid-template-areas: 
    "header"
    "main"
  ;
}

main{
  grid-area: main;
  align-content: flex-start;
  padding-top: 1em;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    padding: 0 2rem;
    grid-template-areas: 
      "header sidebar"
      "main sidebar"
      "footer sidebar"
    ;
  }
}
